<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for listing all apps for the app picker on Android 11+ -->
    <!-- You'll need to declare usage of this permission if publishing on Google Play -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timesave"
        tools:targetApi="31" >

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BlockActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Timesave.Transparent"
            android:taskAffinity="">
            <!-- taskAffinity="" and launchMode="singleTask" help ensure it doesn't just get grouped with the blocked app's task stack -->
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false" 
            android:label="Settings">
            <!-- android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /> -->
        </activity>

        <activity
            android:name=".AppPickerActivity"
            android:exported="false"
            android:label="Select App">
            <!-- android:parentActivityName=".SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
            </meta-data> -->
        </activity>

        <service
            android:name=".WebsiteBlockerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>